%h1 All Gifs

- if @categories
  .categories
    - @categories.each do |category|
      %div{id: "#{category.name}"}
        %h3= category.name

        - category.gifs.each do |gif|
          = image_tag gif.image_path
